/*nav_overview*/
.nav_overview{
    padding-top: 75px;
    display: block;
    width: 75%;
    margin-left: 12%;
    /*border: solid red 3px;*/
}

.nav_overview h1{
    text-align: center;
}

.nav_overview p{
    font-size: 22px;
    margin: -20px 20px 50px 20px;
    text-align: center;
}

/*nav_container*/
.nav_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.nav_section{
    width: 55%;
    margin: -20px 20px 20px 20px;
    font-size: 22px;
}

.nav_img{
    width: fit-content;
    margin: -20px 20px 20px 20px;
}


/*example_container*/
.example_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.example_description{
    width: 55%;
    margin: -20px 20px 10px 20px;
    font-size: 22px;
}

.example_code{
    background-color: rgb(0, 0, 0);
    min-width: 420px;
    max-width: 420px;
    min-height: 240px;
    max-height: 240px;
    border: solid red 3px;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    color: rgb(0, 255, 21);
    font-family: monospace;
    margin-left: 20px;
    margin-bottom: 50px;
}

.example_code ul{
    list-style: none;
}

.example_code p{
    color: rgb(0, 255, 21);
    font-family: monospace;
}
